<body class="bodyLogin">
    <div class="container">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
                <form style="text-align: center;">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="Escribe tu email">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Escribe tu password">
                    </mat-form-field>
                    <br>
                    <button mat-flat-button color="primary">Login</button>
                    <a href="/register">Crear una cuenta</a>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>