.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
mat-card {
    width: 300px;
    background-color: #d34343;
}
mat-form-field {
    width: 100%;
}

mat-label {
    color: white;
}

mat-card-title {
    color: white;
}

a {
    color: white;
    display: block;
    margin-top: 10px;
}

button {
    width: 100%;
}

.bodyLogin {
    background-color: #070606;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}